<!-- Start giscus -->
<script src="https://giscus.app/client.js"
        data-repo="hocaron/hocaron.github.io"
        data-repo-id="R_kgDOL3mLWw"
        data-category="Comments"
        data-category-id="DIC_kwDOL3mLW84CfNm5"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<!-- End giscus -->
